<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- jquery & Popper -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- DataTables -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

  <!-- Main CSS -->
  <link rel="stylesheet" href="/stylesheets/main.css">

  <title>DD Dashboard</title>
</head>

<body>

  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">DD Dashboard</a>

    <div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/he-dd">HE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ha-dd">HA</a>
        </li>
      </ul>
    </div>
  </nav>