<%- include("./partials/header") %>

<!-- ============================================================================================= -->
<!-- HE document creator modal -->
<!-- ============================================================================================= -->
<div class="modal fade" id="he-doc-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload HE Document Creator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form ref="uploadForm" id="uploadForm" action="/templates/he-creator" method="POST"
        enctype="multipart/form-data">
        <div class="modal-body">
          <input type="file" name="sampleFile">
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#he-doc-modal">HE Document Creator</button>

<!-- ============================================================================================= -->
<!-- HA document creator modal -->
<!-- ============================================================================================= -->
<div class="modal fade" id="ha-doc-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload HA Document Creator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form ref="uploadForm" id="uploadForm" action="/templates/ha-creator" method="POST"
        enctype="multipart/form-data">
        <div class="modal-body">
          <input type="file" name="sampleFile">
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ha-doc-modal">HA Document Creator</button>

<!-- ============================================================================================= -->
<!-- Display templates in directory -->
<!-- ============================================================================================= -->
<div class="card-deck">
  <% files.forEach(file => { %>
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="/public/icons/excel-icon.png" alt="excel-icon">
    <div class="card-body">
      <h5 class="card-title"><%= file %></h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="btn btn-primary" href="/uploads/<%= file %>">Download</a>
    </div>
  </div>
  <% }) %>
</div>

<script src="./creator.js"></script>

<%- include("./partials/footer") %>