<%- include("./partials/header") %>

<div class="card-deck">
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="/public/icons/excel-icon.png" alt="excel-icon">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="btn btn-primary" href="/uploads/upwork.xlsx">Download</a>
    </div>
  </div>
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="/public/icons/excel-icon.png" alt="excel-icon">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="btn btn-primary" href="/uploads/upwork.xlsx">Download</a>
    </div>
  </div>
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" src="/public/icons/excel-icon.png" alt="excel-icon">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a class="btn btn-primary" href="/uploads/upwork.xlsx">Download</a>
    </div>
  </div>
</div>


<%- include("./partials/footer") %>